{% load static %}
<!doctype html>
<html lang="es">

<head>
    <title>Awakelab Full Stack Python</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Loading Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<style>
    .chart {
        width:40%;
    }
</style>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Clínica Médica </a>

    <!-- Navigation Bar Hamburger-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <!-- End Navigation Bar Hamburger -->
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link scroll-trigger" href="{% url 'pacientes:inicio' %}">
              Inicio
            
          </a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-trigger" href="{% url 'pacientes:contacto' %}">
              Contacto
           </a>
           
            </li>  
                     
            {% block nav-bar %}{% endblock nav-bar %}
        </ul>

        </div>
        <!-- Navigation Links -->
</nav>
<!-- End Navigation Bar -->
 
        {% block inicio %}{% endblock inicio %}
        {% block form %}{% endblock form %}

        {% block pacientes %}{% endblock pacientes %}

        {% block contacto %}{% endblock contacto %}

        {% block paciente_examen %}{% endblock paciente_examen %}

        {% block paciente_hora %}{% endblock paciente_hora %}

        {% block paciente_tratamiento %}{% endblock paciente_tratamiento %}


    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>
<footer class="footer bg-dark text-center">
    <p class="text-muted">&copy; 2020 Awakelab.</p>
    <p class="text-muted">Grupo Full Stack Python</p>
</footer>

</html>